<!-- <div class="multi-nested">
  <%#= f.input :contributor_nested, 
    as: :contributor_statement,
    input_html: {
      class: '',
      data: {name: :contributor_nested},
    },
    required: f.object.required?(:contributor_nested)
  %>
  <button type="button" class="btn btn-link add">
    <span class="glyphicon glyphicon-plus"></span>
    <span class="controls-add-text">Add another Contributor</span>
  </button>
</div>
 -->