<!-- <div class="multi-nested">
  <%#= f.input :date_nested, 
    as: :date_statement,
    input_html: {
      class: '',
      data: {name: :date_nested},
    },
    required: f.object.required?(:date_nested)
  %>
  <button type="button" class="btn btn-link add">
    <span class="glyphicon glyphicon-plus"></span>
    <span class="controls-add-text">Add another Date</span>
  </button>
</div>
 -->