
<div class="multi-nested">
  <%= f.input :funding_nested,
    as: :funding_statement,
    input_html: {
      class: '',
      data: {name: :funding_nested},
    },
    required: f.object.required?(:funding_nested)
  %>
  <button type="button" class="btn btn-link add">
    <span class="glyphicon glyphicon-plus"></span>
    <span class="controls-add-text">Add another Fund Info.</span>
  </button>
</div>
