
<div class="multi-nested">
  <%= f.input :geolocation_nested,
    as: :geolocation_statement,
    input_html: {
      class: '',
      data: {name: :geolocation_nested},
    },
    required: f.object.required?(:geolocation_nested)
  %>
  <button type="button" class="btn btn-link add">
    <span class="glyphicon glyphicon-plus"></span>
    <span class="controls-add-text">Add another Fund Info.</span>
  </button>
</div>
