<%# if !current_user.roles.pluck(:name).include?('user') %>
  <!-- <div class="multi-nested">
    <%#= f.input :work_review_process,
      as: :work_review_process_statement,
      input_html: {
        class: '',
        data: { name: :work_review_process }
      },
      required: f.object.required?(:work_review_process)
    %>
    <button type="button" class="btn btn-link add">
      <span class="glyphicon glyphicon-plus"></span>
      <span class="controls-add-text">Add another Work Review Process</span>
    </button>
  </div> -->
<%#end%>